$red: rgb(252, 15, 62);
$pink: rgb(249, 19, 150);
$lightpurple: rgb(202, 190, 221);
$green: rgb(0, 137, 114);
$teal: #00A0B0;
$lightteal: rgb(188, 224, 216);
$yellow: rgb(252, 251, 227);
$brown: rgb(89, 76, 71);
$black: rgb(39, 40, 34);
$lightyellow: #F6E6C1;
$lightgray: #D5DED9;
$blue: #00A8C6;